.primaryFont{
    
    font-family: 'Questrial', sans-serif;
    font-size: 18px;

}

.secondaryFont{
    
    font-family: 'Questrial', sans-serif;
    font-size: 16px;
}

.grayFont{
    
    font-family: 'Questrial', sans-serif;
    font-size: 12px;
}

.headingFont{

    font-family: 'Francois One', sans-serif;
    font-size: 48px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

